@tailwind base;
@tailwind components;
@tailwind utilities;

.temp-box {
  margin: 20px 0 20px 0;
  min-width: 300px;
  max-width: 500px;
  overflow: hidden;
  transition: min-width var(--expand-time) linear;
}
